body {
  font-family: sans-serif;
}

header {
  color: #fff;
  font-size: 2.5rem;
}
.main {
  background-image: url(https://wallpaperaccess.com/full/885059.jpg);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-dashboard-container {
  width:860px;
  height: 590px;
  margin-top: 20px;
  background: #fff;
  border-radius: 32px;
  box-shadow: 0 0 16px rgb(0 0 0 / 50%);
}

.current-weather-display {
  background-image: url(https://wallpaperaccess.com/full/1678258.png);
  background-size: cover;
  display: flex;
  padding: 75px 0;
  flex-direction: row;
  background-size: cover;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  color: black;
  align-items: center;
  justify-content:center;
}
.current-weather-display-left {
  margin-left: 10%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  align-items:center;
  letter-spacing: 2px;
  font-weight: 300;
}
.current-weather-display-left-top{
  display: flex;
  flex-direction: row;
  justify-items: center;
  text-align: center;
}
.current-weather-display-left-bottom{
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-left: 5px;
  text-align: center;
}
#current-city {
  font-size: 2rem;
  font-weight: 400;
}
#current-time{
  letter-spacing: 2px;
  font-weight: 300;
}
#current-temp {
  font-size: 2rem;
}
#current-uvindex{
  color: white;
}
.current-weather-display-right {
  width: 300px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
}

#current-icon{
  width: 50px;
  height: 50px;
  margin-top: -9px;
}
.app-bottom {
  padding: 3%;
}
.search-header {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 3%;
}

#cityName {
  margin-right: 2%;

}
.city-history-display {
  margin-left: 5%;
}

a {
  text-decoration: none;
  color: darkgrey;
  letter-spacing: 1px;
}

.five-day-forecast {
  display: flex;
  flex-direction: column;
}

.five-day-forecast-header {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 300;
}

.forecastDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;

}

#forecastItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;

}
#forecastDate,
#forecastTemp,
#forecastHumidity,
#forecastWind {
  margin-bottom: 10%;
  font-size: small;
}
#icon{
  width: 70px;
  height: 70px;
}
#current-uvindex {
  border-radius: 25px;
}
#forecastDate {
  font-weight: 300;
  font-size: 1rem;
}
#forecastTemp {
  font-size: 1.25rem;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
#forecastHumidity,#forecastWind{
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1200px) {
  .weather-dashboard-container{
    width: 355px;
    height: 820px;
  }
  .current-weather-display{
    flex-direction: column-reverse;
    padding: 65px 0;
  }
  .current-weather-display-right{
    margin-top: -50px;
    margin-bottom: 10px;
  }
  .current-weather-display-left{
    margin-top: 5px;
    color: white;
  }
  .current-weather-display-left-bottom{
    width: 300px;
    font-size: 14px;
  }
  .app-bottom{
    width: 355px;
    flex-direction: column-reverse;
  }
  .search-section{
    margin-top: 10px;
    width: 355px;
  }
  .city-history-display{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-left: -10px;
  }
  .city{
    padding: 10px;
    
  }
}