body {
  font-family: sans-serif;
}

header {
  color: #fff;
  font-size: 2.5rem;
}
.main {
  background-image: url(https://wallpaperaccess.com/full/885059.jpg);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-dashboard-container {
  width:860px;
  height: 600px;
  margin-top: 20px;
  background: #fff;
  border-radius: 32px;
  box-shadow: 0 0 16px rgb(0 0 0 / 50%);
}

.current-weather-display {
  background-image: url(https://wallpaperaccess.com/full/1678258.png);
  background-size: cover;
  display: flex;
  padding: 50px 0;
  flex-direction: row;
  background-size: cover;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  color: black;
  align-items: center;
  justify-content:center;
}
.current-weather-display-left {
  margin-left: 10%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  align-items:center;

}
.current-weather-display-left-bottom{
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-top: -10px;
  margin-left: 5px;
}
#current-city {
  font-size: 2.5rem;
  font-weight: 500;
}

#current-temp {
  font-size: 1.3rem;
}

.current-weather-display-right {
  width: 300px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
}

.app-bottom {
  padding: 3%;
}
.search-header {
  font-size: 1.5rem;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 3%;
}

#cityName {
  margin-right: 2%;
}
.city-history-display {
  margin-left: 5%;
}

a {
  text-decoration: none;
  color: darkgrey;
}

.five-day-forecast {
  display: flex;
  flex-direction: column;
}

.five-day-forecast-header {
  font-size: 1.5rem;
}

.forecastDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
}

#forecastItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
}
#forecastDate,
#forecastTemp,
#forecastHumidity,
#forecastWind {
  margin-bottom: 10%;
  font-size: small;
}
#icon, #current-icon{
  width: 70px;
  height: 70px;
}
#current-uvindex {
  border-radius: 25px;
}
#forecastDate {
  font-weight: 400;
  font-size: 1rem;
}
#forecastTemp {
  font-size: 1.25rem;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
#forecastHumidity,#forecastWind{
  color: rgba(0, 0, 0, 0.5);
}